/* Custom theme colors */
:root {
  --vp-c-brand-1: #10b981;
  --vp-c-brand-2: #059669;
  --vp-c-brand-3: #047857;
  --vp-c-brand-soft: rgba(16, 185, 129, 0.14);
}

.dark {
  --vp-c-brand-1: #34d399;
  --vp-c-brand-2: #10b981;
  --vp-c-brand-3: #059669;
  --vp-c-brand-soft: rgba(52, 211, 153, 0.16);
}

/* :root {
  --vp-c-brand-1: #14b8a6;
  --vp-c-brand-2: #0d9488;
  --vp-c-brand-3: #0f766e;
  --vp-c-brand-soft: rgba(20, 184, 166, 0.14);
}

.dark {
  --vp-c-brand-1: #2dd4bf;
  --vp-c-brand-2: #14b8a6; 
  --vp-c-brand-3: #0d9488;
  --vp-c-brand-soft: rgba(45, 212, 191, 0.16);
} */

/* :root {
  --vp-c-brand-1: #a855f7;
  --vp-c-brand-2: #9333ea;
  --vp-c-brand-3: #7e22ce;
  --vp-c-brand-soft: rgba(168, 85, 247, 0.14);
}

.dark {
  --vp-c-brand-1: #c084fc;
  --vp-c-brand-2: #a855f7;
  --vp-c-brand-3: #9333ea;
  --vp-c-brand-soft: rgba(192, 132, 252, 0.16);
} */

